<div class = "background-png">
  <div class = "title">
    <h1 class = "company-name">Le temps d'avant</h1>
    <h2 class = "under-title">Valorisation de mobilier vintage et slow design</h2>
  </div>
  <div class = "navbar">
    <a href="">Accueil</a>
    <a href="">Présentation</a>
    <a href="">Vitrine</a>
  </div>
  <div class = "presentation">
    <h3>Titre présentation blablabla</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt sapiente vel dolores nemo facilis quidem optio repellat. Esse eos cumque molestiae, commodi perspiciatis sit asperiores ad expedita velit inventore! Commodi doloribus aliquam cupiditate rerum, cum optio dolor voluptates qui adipisci. Delectus, placeat. Ratione laudantium minima suscipit est pariatur inventore delectus culpa labore nesciunt consequuntur blanditiis, eos, assumenda sed excepturi accusantium, tempora voluptatem. Tempore repellendus illum quos quaerat optio libero perspiciatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iusto quisquam commodi ducimus, molestiae aliquam vel officiis veritatis culpa! Sapiente, voluptatum explicabo eaque, aut praesentium ipsam exercitationem, quasi voluptates adipisci fuga doloribus? Quis eius dicta, id fugiat similique blanditiis quia, expedita dolore eos corrupti sed doloribus provident atque dignissimos? Voluptatibus minima modi incidunt repellendus repudiandae pariatur, harum minus illo adipisci tenetur corrupti quasi eos ducimus et corporis rerum vel obcaecati quibusdam sunt porro. Odit, fugiat debitis! Eos vero rem facere sequi culpa dolorem reprehenderit reiciendis tempora cum debitis odit nemo incidunt optio quis a quisquam, aut, perferendis sapiente perspiciatis obcaecati.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque corrupti officia quasi sunt minima mollitia quo, quia necessitatibus, tenetur repellendus animi tempore rerum cum dolorum ratione quod ab! Aliquid nemo ipsum animi magni, maiores non amet obcaecati! Aliquam rem laboriosam a facere consequatur? Ipsam eligendi quia laudantium earum quod quas placeat facilis, odio culpa tenetur? Et enim iure temporibus nesciunt rem vero quia excepturi eos beatae. Facere non architecto voluptatum sed necessitatibus neque veniam quae.</p>
  </div>
  <div class = "footer">
    <div class = "social-network">
      <a href="https://www.instagram.com/_le_temps_d_avant/?igshid=YmMyMTA2M2Y%3D" target=”_blank”><i class="fa-brands fa-instagram"></i></a>
      <a href="" target=”_blank”><i class="fa-brands fa-square-facebook"></i></a>
    </div>
    <div class = "legal">
      <a href="">Conditions générales de vente</a>
      <a href="">Livraisons</a>
      <a href="">Paiement</a>
    </div>
  </div>
</div>
